/* Comments come inside these symbols */
/*
 * selector {
 *  property: value;
 *  property: value;
 *  ...
 *  ...
 * }
 * */

h1 {
  color: blue;
}

li {
  color: rgb(8, 84, 1);
}

p {
  color: #842291;
}

h4 {
  color: rgba(163, 103, 0, 0.8);
}
