.title {
  font-family: 'Indie Flower', cursive;
  text-align: center;
}
.color-1 {
  background-color: #ffcdb2;
}

.color-2 {
  background-color: #ffb4a2;
}

.color-3 {
  background-color: #e5989b;
}

.color-4 {
  background-color: #b5838d;
}

.color-5 {
  background-color: #6d6875;
}

table {
  margin: auto;
  width: 80%;
}

td {
  border: 10px solid #ffffff;
  width: 20%;
  height: 400px;
}
